<launch>
<node pkg="forklift_server" type="publisher_robot_pose.py" name="Robot_pose" output="screen">
    <param name="publish_name" value="/robot_pose" />
    <param name="rate" type="int" value="10" />
</node>
<node pkg="forklift_server" type="Topology_map_server.py" name="TopologyMap_server" output="screen">
    <param name="odom" value="/wheel_odom" /><!--里程計 Topic（map -> base_link, 是tf相對關係, 非輪式里程計）/-->
    <param name="start_node" value="P1" />
    <rosparam param= "graph">
    {
        <!-- "P1":{"P2":1},
        "P2":{"P3":5},
        "P3":{"P4":1},
        "P4":{"P5":5},
        "P5":{"P6":1},
        "P6":{"P7":5},
        "P7":{"P7":1} -->

        <!-- "P1":{"P2":1},
        "P2":{"P3":5},
        "P3":{"P4":1},
        "P4":{"P5":5},
        "P5":{"P6":1},
        "P6":{"P7":5},
        "P7":{"P8":1},
        "P8":{"P8":1} -->

        <!-- GUI test -->
        <!-- "P1":{"P2":4},
        "P2":{"P3":1},
        "P3":{"P4":4},
        "P4":{"P4":1} -->

        <!-- NCKU Demo -->
        <!-- "P1":{"P2":1, "P3":4},
        "P2":{"P1":1},
        "P3":{"P4":1},
        "P4":{"P5":4},
        "P5":{"P5":1} -->

        <!-- Four Wheel Car Demo 1 -->
        <!-- "P1":{"P2":1, "P3":4},
        "P2":{"P1":1},
        "P3":{"P4":1},
        "P4":{"P5":4},
        "P5":{"P6":1},
        "P6":{"P7":1},
        "P7":{"P8":4},
        "P8":{"P9":1},
        "P9":{"P10":4},
        "P10":{"P11":1},
        "P11":{"P12":1},
        "P12":{"P3":4} -->

        <!-- Four Wheel Car Demo 2 Office -->
        "P1":{"P2":1},
        "P2":{"P3":4},
        "P3":{"P4":1},
        "P4":{"P5":4},
        "P5":{"P6":1},
        "P6":{"P7":4},
        "P7":{"P8":1},
        "P8":{"P9":4},
        "P9":{"P10":1},
        "P10":{"P10":1}

    }
    </rosparam>
    <rosparam param= "waypoints">
    {

        <!-- Four Wheel Car Demo 1 -->
        <!-- "P1":[4.363, -0.178, -0.019, 1.000],
        "P2":[4.363, -0.178, -0.731, 0.683],
        "P3":[10.716, -0.345, -0.015, 1.000],
        "P4":[10.716, -0.345, -0.720, 0.694],
        "P5":[10.317, -5.718, -0.710, 0.704],
        "P6":[10.317, -5.718, 0.995, 0.096],
        "P7":[10.317, -5.718, 0.696, 0.718],
        "P8":[10.677, -0.581, 0.691, 0.723],
        "P9":[10.677, -0.581, 0.999, 0.034],
        "P10":[4.314, -0.202, 1.000, 0.015],
        "P11":[4.314, -0.202, -0.707, 0.707],
        "P12":[4.314, -0.202, -0.019, 1.000] -->

        <!-- Four Wheel Car Demo 2 Office -->
        "P1":[9.584, -0.674, -0.036, 0.999],
        "P2":[9.779, -0.604, -0.727, 0.697],
        "P3":[9.583, -3.331, -0.736, 0.677],
        "P4":[9.569, -3.340, 1.000, 0.017],
        "P5":[5.758, -3.120, 1.000, 0.021],
        "P6":[5.538, -3.325, 0.675, 0.738],
        "P7":[5.814, -0.637, 0.692, 0.721],
        "P8":[5.732, -0.627, 0.999, 0.055],
        "P9":[3.078, -0.502, 0.999, 0.036],
        "P10":[3.064, -0.529, -0.735, 0.698]

        
        <!-- NCKU Demo -->
        <!-- "P1":[12.938, 0.020, 0.006, 1.000],
        "P2":[12.938, 0.020, 0.707, 0.707],
        "P3":[19.188, -0.144, 0.007, 1.000],
        "P4":[19.188, -0.144, -0.705, 0.709],
        "P5":[19.187, -8.771, -0.709, 0.705] -->


        <!-- 直線Demo -->
        <!-- "P1":[3.487, -5.782, -0.735, 0.677],
        "P2":[3.487, -5.782, -0.026, 0.999] -->

        <!-- "P1":[6.160, -0.059, -0.011, 1.0],
        "P2":[6.160, -0.059, 0.711, 0.703] -->

        <!-- Demo -->
        <!-- "P1":[7.294, -0.048, 0.005, 1.0],
        "P2":[7.294, -0.048, 0.713, 0.701],
        "P3":[7.556, 2.661, 0.740, 0.672],
        "P4":[7.556, 2.661, -0.728, 0.685],
        "P5":[7.422, -0.345, -0.750, 0.662],
        "P6":[7.422, -0.345, 1.0, 0.025],
        "P7":[0.268, -0.157, 1.0, 0.015],
        "P8":[0.268, -0.157, -0.014, 1.0] -->

        <!-- GUI test -->
        <!-- "P1":[2.968, 0.031, -0.002, 1.000],
        "P2":[7.524, 0.133, -0.002, 1.000],
        "P3":[7.524, 0.133, -0.701, 0.713],
        "P4":[7.607, -3.864, -0.712, 0.703] -->

        <!-- "P1":[3.441, 0.168, 0.010, 1.000],
        "P2":[7.958, 0.277, 0.003, 1.000],
        "P3":[7.958, 0.277, -0.699, 0.715],
        "P4":[8.098, -4.917, -0.699, 0.715] -->


        <!-- EL_2F left -->
        <!-- "P1":[3.902, -5.898, -0.718, 0.696],
        "P2":[3.902, -5.898, -0.013, 1.0],
        "P3":[11.082, -6.049, -0.037, 0.999],
        "P4":[11.082, -6.049, 0.700, 0.714],
        "P5":[11.369, -0.356, 0.684, 0.729],
        "P6":[11.369, -0.356, 1.0, 0.005],
        "P7":[4.082, -0.199, 1.0, 0.013] -->


        <!-- EL_2F right -->
        <!-- "P1":[11.049, 0.037, 0.004, 1.0],
        "P2":[11.049, 0.037, -0.690, 0.724],
        "P3":[11.187, -6.004, -0.698, 0.716],
        "P4":[11.187, -6.004, 1.0, -0.004],
        "P5":[3.965, -6.055, 1.0, 0.018],
        "P6":[3.965, -6.055, 0.706, 0.707],
        "P7":[3.880, -0.136, 0.704, 0.710] -->

        <!-- EL_2F_1 Right -->
        <!-- "A_1": [4.3, -0.500,  0.000,  1.000],
        "A_VS": [4.3, -0.500,  0.707,  0.707],
        "A_2": [4.3, -0.500,  -1.000,  0.000],
        "B_1": [6.5, -0.500,  0.000,  1.000],
        "B_VS": [6.5, -0.500,  -1.000,  0.000] -->

        <!-- EL_2F_1 Left -->
        <!-- "A_1": [2.000, 2.000, 0.707, 0.707],
        "A_VS": [2.000, 2.000, 1.000, 0.000],
        "A_2": [2.000, 2.000, -0.707, 0.707],
        "B_1": [1.500, 4.000, 0.707, 0.707],
        "B_VS": [1.500, 4.000, -0.707, 0.707]         -->
    }
    </rosparam>
</node>
</launch>
