<launch>
<node pkg="forklift_server" type="Topology_map_server.py" name="TopologyMap_server" output="screen">
    <param name="odom" value="/wheel_odom" /><!--里程計 Topic（map -> base_link, 是tf相對關係, 非輪式里程計）/-->
    <param name="start_node" value="P1" />
    <rosparam param= "graph">
    {
        "P1":{"P2":1},
        "P2":{"P3":5},
        "P3":{"P4":1},
        "P4":{"P5":5},
        "P5":{"P6":1},
        "P6":{"P7":5},
        "P7":{"P7":1}


    }
    </rosparam>
    <rosparam param= "waypoints">
    {
        <!-- Demo -->
        <!-- "P1":[3.487, -5.782, -0.735, 0.677],
        "P2":[3.487, -5.782, -0.026, 0.999] -->

        <!-- "P1":[6.160, -0.059, -0.011, 1.0],
        "P2":[6.160, -0.059, 0.711, 0.703] -->


        <!-- EL_2F left -->
        <!-- "P1":[3.902, -5.898, -0.718, 0.696],
        "P2":[3.902, -5.898, -0.013, 1.0],
        "P3":[11.082, -6.049, -0.037, 0.999],
        "P4":[11.082, -6.049, 0.700, 0.714],
        "P5":[11.369, -0.356, 0.684, 0.729],
        "P6":[11.369, -0.356, 1.0, 0.005],
        "P7":[4.082, -0.199, 1.0, 0.013] -->


        <!-- EL_2F right -->
        "P1":[11.049, 0.037, 0.004, 1.0],
        "P2":[11.049, 0.037, -0.690, 0.724],
        "P3":[11.187, -6.004, -0.698, 0.716],
        "P4":[11.187, -6.004, 1.0, -0.004],
        "P5":[3.965, -6.055, 1.0, 0.018],
        "P6":[3.965, -6.055, 0.706, 0.707],
        "P7":[3.880, -0.136, 0.704, 0.710]

        <!-- EL_2F_1 Right -->
        <!-- "A_1": [4.3, -0.500,  0.000,  1.000],
        "A_VS": [4.3, -0.500,  0.707,  0.707],
        "A_2": [4.3, -0.500,  -1.000,  0.000],
        "B_1": [6.5, -0.500,  0.000,  1.000],
        "B_VS": [6.5, -0.500,  -1.000,  0.000] -->

        <!-- EL_2F_1 Left -->
        <!-- "A_1": [2.000, 2.000, 0.707, 0.707],
        "A_VS": [2.000, 2.000, 1.000, 0.000],
        "A_2": [2.000, 2.000, -0.707, 0.707],
        "B_1": [1.500, 4.000, 0.707, 0.707],
        "B_VS": [1.500, 4.000, -0.707, 0.707]         -->
    }
    </rosparam>
</node>
</launch>
